.header {
	background: @c-white;
	padding: 30px 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: padding .5s;

	// &_sticked {
	// 	padding: 0;
	// 	background: rgba(255,255,255,.95);
	// 	box-shadow: 0 0 10px @c-gray;

	// 	.header__contacts {
	// 		display: none;
	// 	}
	// }

	.container {
		position: relative;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	&__contacts {
		position: absolute;
		top: -15px;
		right: 10px;
		font-size: .7em;

		a {
			color: @c-gray;
			transition: all .3s;
			vertical-align: middle;
			margin-right: 15px;

			&:hover {
				color: darken(@c-gray, 30%);
			}
		}

		i {
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	&__logo {
		width: 260px;
		height: 120px;
		display: flex;

		img {
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	-webkit-box-align: end;
	list-style: none;

	&__item {
		transition: all .3s;
		margin: 0 10px;
		position: relative;
		color: @c-dgray;

		a {
			color: @c-dgray;
			&:hover {
				color: @c-orange;
			}
			&:focus {
				color: @c-orange;
			}
		}

		i {
			vertical-align: middle;
		}

		&_border-bottom {
			position: relative;

			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				height: 2px;
				width: 0%;
				margin: auto;
				background: @c-orange;
				transition: all .3s;
			}

			&:hover {
				&:after {
					width: 100%;
				}
			}
		}

		&_border {
			border: 1px solid transparent;
			margin: 0;
			padding: 5px 10px;

			&:hover {
				border: 1px solid @c-orange;
			}
		}

		&_dark {
			color: @c-dblue2;

			&:hover {
				color: @c-lblue;
			}
		}

		&_arr {

			& > a:after {
				content: "";
				display: inline-block;
				border: 5px solid transparent;
				border-top: 7px solid @c-dgray;
				vertical-align: middle;
				margin-left: 5px;
				margin-top: 5px;
			}

			&:hover {
				& > a:after {
					border-top: 7px solid @c-orange;
				}
			}
		}

		&:hover {
			.sub-menu {
				display: flex;
			}

			color: @c-orange;
		}
	}

	&_colum {
		flex-direction: column;

		.list__item {
			margin: 10px 0;
		}
	}

	&_aleft {
		align-items: flex-start;
	}
}

.icon-phone {
	&:before{
		transform: rotate(90deg);
	}
}

.after() {
	content: '';
	display: inline-block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: @c-orange;
	left: 0;
}

.hamburger {
	width: 30px;
	height: 3px;
	background: @c-orange;
	position: absolute;
	right: 20px;
	margin: auto;
	top: 0;
	bottom: 0;
	cursor: pointer;
	transition: all .3s;
	display: none;

	&:after {
		.after();
		bottom: 7px;
	}

	&:before {
		.after();
		top: 7px;
	}

	&_close {
		transform: rotate(45deg);
		&:after {
			bottom: 0px;
			transform: rotate(90deg);
		}

		&:before {
				display: none;
			}
	}
}

.sub-menu {
	position: absolute;
	margin: 0;
	padding: 40px 15px 20px;
	top: 100%;	
	background: rgba(255,255,255,.9);
	z-index: 10;
	font-size: .8em;
	align-items: flex-start;
	display: none;

	.list__item {
		line-height: 1em;
		margin: 10px 0;
	}
}