//-------------------------------------
// FONT
//-------------------------------------
@base-font: 18px;
//-------------------------------------
// COLOR
//-------------------------------------
@c-orange: #ff0008;
@c-gray: #c3c3c3;
@c-lgray: #efefef;
@c-dgray: #4e4e4e;

@c-blue: #007bc1;
@c-dblue: #0d1b33;
@c-dblue2: #5f6770;
@c-dblue3: #586b80;
@c-lblue: #b4bcc5;
@c-white: #fff;


@c-1: #5e2129;
@c-2: #642424;
@c-3: #781f19;
@c-4: #20214f;
@c-5: #1e2d6e;
@c-6: #2f4538;
@c-7: #2e3a23;
@c-8: #474a51;
@c-9: #8e402a;
@c-10: #45322e;
@c-11: #403a3a;
@c-12: #f4f4f4;
@c-13: #0a0a0a;
