<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<img src="../img/logo.png" alt="breststal">
			</div>
			<nav class="list header__menu">
				<a href="" class="list__item list__item_border-bottom">главная</a>
				<a href="" class="list__item list__item_border-bottom">продукция</a>
				<a href="" class="list__item list__item_border-bottom">галерея</a>
				<a href="" class="list__item list__item_border-bottom">прайс</a>
				<a href="" class="list__item list__item_border-bottom">инструкции</a>
				<a href="" class="list__item list__item_border-bottom">о нас</a>
			</nav>
		</div>
		<div class="header__contacts">
			<a href="tel:+375291234567"><i class="icon-phone"></i>+375291234567</a>
			<a href=""><i class="icon-call"></i>консультация online</a>
		</div>
	</div>
</header>