<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="">
				<img src="img/logo.png" alt="breststal">
			</a>
			<nav class="header__menu">
				<ul class="list">
					<li class="list__item list__item_border-bottom"><a href="index.html">главная</a></li>
					<li class="list__item list__item_border-bottom list__item_arr">
						<a href="products.html">продукция</a>
						<ul class="sub-menu list list_colum">
							<li class="list__item "><a href="category.html">металлочерепица</a></li>
							<li class="list__item "><a href="">профнастил</a></li>
							<li class="list__item "><a href="">фальцевая картина</a></li>
							<li class="list__item "><a href="">водосточная система</a></li>
							<li class="list__item "><a href="">комплектующие элементы кровли</a></li>
							<li class="list__item "><a href="">софит</a></li>
							<li class="list__item "><a href="">штакетник</a></li>
							<li class="list__item "><a href="">сопутствующие товары</a></li>
						</ul>
					</li>
					<li class="list__item list__item_border-bottom"><a href="gallery.html">галерея</a></li>
					<li class="list__item list__item_border-bottom"><a href="price.html">прайс</a></li>
					<li class="list__item list__item_border-bottom"><a href="instructions.html">инструкции</a></li>
					<li class="list__item list__item_border-bottom"><a href="about_us.html">о нас</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__contacts">
			<a href="tel:+375291234567"><i class="icon-calendar"></i>пн-пт: 8:30-13:00, 14:00-17:30</a>
			<a href="tel:+375291234567"><i class="icon-phone"></i>+375291234567</a>
			<a href=""><i class="icon-call"></i>заказать звонок</a>
		</div>
		<div class="hamburger"></div>
	</div>
</header>